<main class="policy">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-12">
                <section class="page-content copy-left">
                    <h1>Privacy Policy</h1>
                    <p class="last-updated">Last Updated on 8 November 2018</p>
                    <h5>Summary</h5>
                    <ol type="1" start="1">
                        <li>This Privacy Policy is published by Cenozoic Ventures Pty Ltd (ACN 612 520 617) (<strong>we/our/us</strong>). Our contact details are published on our Website.</li>
                        <li>Our Privacy Policy explains how we handle your personal information.  Your privacy is very important to us.  Our Privacy Policy describes our practices in relation to information collected in connection with our Website and our Services.</li>
                    </ol>
                    <h5>Definitions</h5>
                    <ol type="1" start="3">
                        <li>Definitions used in this Privacy Policy:
                            <ol type="a">
                                <li>"<strong>Services</strong>" means our services offered in conjunction with our Website. <u>Please note that our Services are intended to be a community service for pet owners and pet lovers</u>.</li>
                                <li>"<strong>Website</strong>" means our website <a href="http://www.singr.pet">www.singr.pet</a>.</li>
                            </ol>
                        </li>
                        <li>This Privacy Policy applies to all persons who interact with us ("<strong>you/your</strong>"), including our account holders, everyone who visits or uses our Website, anyone else who uses any of our Services and our suppliers and service providers.  This Privacy Policy applies to our collection and use of your personal information.</li>
                        <li>We will manage your personal information in an open and transparent way. We have commercially acceptable internal processes and controls in place to store your personal information securely in our various systems across our network.</li>
                        <li>This Privacy Policy may be amended from time to time. Please look at the Last Updated date at the top of this Privacy Policy as published on our website.</li>
                        <li>Our Privacy Policy sets out the following:
                            <ol type="a">
                                <li>the kinds of personal information that we collect and hold;</li>
                                <li>how we collect and hold personal information;</li>
                                <li>the purposes for which we collect, hold, use and disclose personal information;</li>
                                <li>how you may access your personal information that is held by us and seek the correction of that information.</li>
                            </ol>
                        </li>
                        <li>Our Privacy Policy has been prepared having regard to Australian privacy laws. We use Microsoft Azure – secure hosting to store data (including personal information) in the cloud, which operates from data centres located in Australia. Please refer to Microsoft’s trust centre which set out its data security arrangements and details of how personal information is held and used at <a href="https://www.microsoft.com/en-us/trustcenter/privacy">https://www.microsoft.com/en-us/trustcenter/privacy</a>.</li>
                        <li>We do not disclose personal information to overseas recipients.</li>
                    </ol>
                    <h5>What kinds of personal information do we collect and hold?</h5>
                    <ol type="1" start="10">
                        <li><strong>User account information</strong> - is the information you provide to us by registering as a user of our Website and Services.</li>
                        <li>We collect personal information that includes your name, age, address, mobile phone number, email address and home address. We may also collect additional personal information which you provide to us in the course of your relationship with us, including when we communicate with each other.</li>
                        <li><strong>Locational and movement information</strong> - is information relating to your location and movements, which we collect via your mobile phone or tablet.</li>
                        <li><strong>Survey information</strong> - from time to time we may survey our users to assist us in planning and delivering a better Website and Services. The provision of this information will be voluntary and our intended use will be clearly identified at the time of collection.</li>
                        <li><strong>Information from third party social media</strong> - we also use social media channels such as Facebook ("<strong>social media</strong>") to distribute news, announcements, promotions, blogs and to address Services enquiries. If you submit or post comments, images, recordings or other personal content for public display on social media, or on our Website, that information may be available for anyone in the world to read/view/comment on. We encourage you to read the separate social media privacy policies which relate to social media use. We are not responsible to you for the information handling practices of social media.</li>
                        <li><strong>Cookies and other technologies</strong> - when you use and interact with us via our website, we may collect certain information about your use. For example, our servers may log details about any computer that you use to access our website as well as behavioural information about you in relation to what content you view.  In addition, our website may store cookies on the web browser of your computer to better serve you upon subsequent visits to our website. Cookies are data that a website transfers to an individual’s hard drive for record-keeping purposes. Cookies can facilitate a user’s ongoing access to and use of a site. Cookies allow us to track usage patterns and compile data that can help us improve our content and Services. The types of information that cookies can collect includes information about your computer, device, browser, potentially your IP address, and other software or hardware.</li>
                        <li>If you use our website or our Services from a mobile or other device, we may collect a unique device identifier, geolocation data and other transactional information from that device. We also use analytics products such as Google analytics.</li>
                        <li><strong>Information from other sources</strong> - we may add to the information we collect with information from other sources, such as commercially available sources (including publicly available information published on the Internet).</li>
                        <li><strong>Employment information</strong> - we may also collect personal information if you apply for a job with us. The personal information may be collected directly from you or from a recruitment agency that we engage, your previous employers and other people (including people who provide references), to help us make a decision in relation to whether to employ you. This Privacy Policy does not apply to our practices which are exempt from Australian privacy laws, if they are directly related to our current or former employees and employment records held by us.</li>
                        <li><strong>Commercial contract information</strong> - we may collect personal information from our service providers, suppliers and other third parties and their staff who enter into contracts with us. Those third parties may include internet service providers, IT consultants and others. Generally, we will state why we are collecting personal information and how we plan to use it, or these things will be obvious when we collect the personal information.</li>
                        <li>We do <u>NOT</u> actively collect or hold, nor do we need to know any sensitive (personal) information (such as personal information about your racial or ethnic origin, health information, political opinions, membership of a political association, professional or trade association or trade union, religious beliefs or affiliations, philosophical beliefs, sexual orientation or practices, criminal record, genetic information, biometric information or biometric templates).</li>
                        <li>We ask that you do <u>NOT</u> send us or disclose to us any of your sensitive information. If you do however, you consent to us collecting and holding that sensitive information in accordance with this Privacy Policy.</li>
                        <li>We do <u>NOT</u> collect, hold or use any of the following government related identifiers - tax file numbers and passport details.
                    </ol>
                    <h5>How do we collect and hold personal information?</h5>
                    <ol type="1" start="23">
                        <li>We collect personal information via email, telephone, our Website, mail and any of the other means we have already referred to. We hold copies of any correspondence that passes between us.</li>
                        <li>We store most of your personal information on virtual servers which are housed in third party owned data centres, which are secure environments with 24 hour surveillance. Access to our servers is restricted to our authorised staff and contractors only. We have computer and network security and any attempted access to your personal information by an authorised staff members and contractors is protected by login and password. No method of transmission over the internet, or method of electronic storage is 100% secure however.  Therefore, while we strive to use commercially acceptable means to protect your information, we cannot guarantee its absolute security.</li>
                        <li>We maintain physical security over our hard copy and electronic data, such as locks and security systems.  We also maintain computer and network security, for example, by using firewalls and other security systems such as user identifiers and passwords to control access to our computer system.</li>
                    </ol>
                    <h5>What purposes do we collect, hold, use and disclose personal information for?</h5>
                    <ol type="1" start="26">
                        <li>We collect, hold and use your personal information for the following purposes.</li>
                        <li><strong>To supply our Services</strong> - we collect and use your personal information for the following purposes:
                            <ol type="a">
                                <li>the supply of our Services - that includes disclosing your personal information to other users of our Websites so that you can contact and help each other and your pets;</li>
                                <li>to measure and improve our Services and our Website;</li>
                                <li>communicating with you in connection with your user account and user service issues;</li>
                                <li>internal management and administrative purposes; and </li>
                                <li>Telling other people about our Services – the more people who use our Services, the more help that you and your pet might be able to give and receive. That includes advertising and marketing messages (which may include the display of personalised content and advertising) and to participate in competitions and surveys.</li>
                            </ol>	
                        </li>
                        <li><strong>To our contracted third party service providers and suppliers</strong> - we may also disclose your personal information to third party service and content providers that we engage to help us provide and manage our Services including website hosting service providers, data cloud services, electronic communication providers and data analysis.  We take reasonable commercial steps that your personal information is only disclosed for the services/purposes we require and to the extent necessary to supply our Services.</li>
                        <li><strong>For statistical and research purposes</strong> - we may also use and/or disclose parts of your personal information to third parties, such as vets.</li>
                        <li>If we disclose your personal information to a third party, we will take reasonable commercial steps to require that the third party only use, store or disclose your personal information which is consistent with this Privacy Policy. However, we cannot guarantee that the third party will not use your personal information for any other purpose. The third party’s use of your information will be governed by the third party’s Privacy Policy.</li>
                        <li><strong>To sell our IP, assets or participate in a merger</strong> - if we sell some or all of our IP or other assets, or we are otherwise involved in a merger, you agree that we may transfer to the other party(s) involved in the transaction, your personal information. We may also disclose your personal information to other parties as part of any due diligence process in connection with transactions of this nature, or in connection with the sale of shares in our company.</li>
                        <li>You expressly consent to us collecting, holding and using your personal information for all of these purposes.</li>
                        <li>Other than as set out above or as required or permitted by law, we do not disclose your personal information we collect to third parties.  That includes for the purpose of allowing third parties to direct market their products and services, unless you agree to us doing so on an "opt in" basis.</li>
                        <li><strong>Opting out</strong>:
                            <ol type="a">
                                <li>You may at any time, request to "opt out" of receiving any marketing or promotional material from us.</li>
                                <li>If you want to stop receiving promotional materials, you can follow the unsubscribe instructions at the bottom of each email.</li>
                                <li>If you don’t want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to enable or disable the cookie feature. If you need any assistance with changing your account settings, please contact our Privacy Officer.</li>
                            </ol>
                        </li>
                        <li>Third party content - our Website may contain content and advertisements from third parties including advertisers, and/or links to other websites and platforms.  Some of these websites and platforms may be co-branded with our logo, even though they may not be operated or maintained by us or on our behalf. These sites may collect personal information from you that may be shared with us. This Privacy Policy will apply to any personal information we obtain in that way.</li>
                    </ol>
                    <h5>How do you access, update or obtain personal information that we hold about you?</h5>
                    <ol type="1" start="36">
                        <li>You may ask us to confirm whether we hold personal information about you, and if we do, to provide you with access to the personal information that we hold about you unless there is an exception which applies under the applicable Australian privacy laws.  If we refuse to provide you with access to your personal information, we will provide you with reasons for the refusal.</li>
                        <li>We will provide the requested personal information in a reasonable time. We will take reasonable steps to correct any of your personal information that you can establish is not accurate, complete, up-to-date or relevant. </li>
                        <li>If you need to update your user account details (e.g. mobile phone, address, etc.), you can access your account details via our website.</li>
                        <li>If we no longer need your personal information to finalise any outstanding matters, you can notify us via email through our Website and we will, subject to our legal and contractual obligations, take reasonable steps to destroy or de-identify your personal information. </li>
                        <li>However, even if you no longer use any of our Services, some of your personal information may still be seen by others, for example where you have shared information via social media. </li>
                    </ol>
                    <h5>How do we handle a complaint as it relates to the Australian Privacy Principles?</h5>
                    <ol type="1" start="41">
                        <li>If you require further information or you have a complaint about our Privacy Policy or the manner in which we collect, handle, use or disclose your personal information, please contact us via our Website.</li>
                        <li>Our complaints process is:	
                            <ol type="a">
                                <li>We will use our best endeavours to resolve your complaint within 30 days of receipt of your complaint.</li>
                                <li>We will advise you of the outcome of our investigative process into your complaint including what you can do.</li>
                                <li>If your complaint cannot be resolved satisfactorily within 30 days of receipt of the complaint and there is no timely prospect of the complaint being resolved, you may submit your complaint to the Office of the Australian Information Commissioner.</li>
                            </ol>
                        </li>
                        <li>There will be no charges associated with handling the complaint.</li>
                    </ol>			
                </section>
            </div>
        </div>
    </div>	
</main>