<main class="policy">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-12">
                <section class="page-content copy-left">
                    <h1>Terms &amp; Conditions</h1>
                    <p class="last-updated">Last Updated on 8 November 2018</p>
                    <h5>Welcome to Singr.</h5>
                    <p>These are our terms and conditions ("<strong>T&amp;C</strong>") for use of our Website and our Services. These T&amp;C apply to everyone who visits and uses our Website and Services. These T&amp;C form an agreement between us.</p>
                    <p>These T&amp;C may be amended from time to time. Please look at the Last Updated date at the top of these T&amp;C as published on our website.</p>
                    <h5>Important information</h5>
                    <ul>
                        <li>To find out about what we do and our Services, please refer to our <a href="http://www.singr.pet/faq">FAQ</a>.</li>
                        <li>Our Services are intended to be a community service for pet owners and pet lovers.</li>
                    </ul>
                    <h5>Definitions</h5>
                    <ol type="1" start="1">
                        <li>Definitions used in these T&amp;C:
                            <ol type="a">
                                <li>"<strong>Services</strong>" means our services offered in conjunction with our Website.</li>
                                <li>"<strong>you/your</strong>" means a user of our Website and Services.</li>
                                <li>"<strong>we/our/us</strong>" means Cenozoic Ventures Pty Ltd (ACN 612 520 617) and includes our affiliated and related companies.</li>
                                <li>"<strong>Website</strong>" means our website <a href="http://www.singr.pet">www.singr.pet</a>.</li>
                            </ol>
                        </li>
                    </ol>
                    <h5>User information and user accounts</h5>
                    <ol type="1" start="2">
                        <li>Your rights under these T&amp;C are personal to you and allows you to use our Website and Services.</li>
                        <li>You can create an account by signing up online. Please see our Privacy Policy in relation to how we collect, hold and use your personal information <a href="http://www.singr.pet/privacy">www.singr.pet/privacy</a>.</li>
                        <li>Our services only work if you keep your account information up-to-date and accurate. So if you change your phone number or email address, please let us know.</li>
                        <li>You are responsible for how  and when your account is used. If you think that someone else is using your account, please let us know.</li>
                        <li>We recommend that you use a strong password for your account. That is a password that uses a combination of upper and lower case letters, numbers and symbols.</li>
                        <li>If you breach any of these T&amp;C, we reserve the right to suspend or terminate your account, and refuse you access to our Website. We will let you know before we do that and give you an opportunity to let us know why we shouldn’t do any of those things.</li>
                        <li>You can close your account at any time and for any reason. However, if you do so, your right to use our Website and our Services stops immediately and your licence to use our Website and proprietary software and technology in them is terminated immediately. If you want to later use our Website and our Services, then you will need to open a new account and accept the T&amp;C that apply at that time.</li>
                    </ol>
                    <h5>Your obligations</h5>
                    <ol type="1" start="9">
                        <li>As a condition of your use of our Website, you agree that you will not use our Website:
                            <ol type="a">
                                <li>for any unlawful purpose or any other purpose which is prohibited by these T&amp;C;</li>
                                <li>in a way that stores, sends or distributes any content which is restricted, prohibited, or is otherwise unlawful under any applicable law;</li>
                                <li>to submit any content that is obscene, defamatory, offensive or abusive;</li>
                                <li>to violate a person's privacy or misuse any person’s confidential information;</li>
                                <li>to infringe any person's rights (including intellectual property rights and moral rights);</li>
                                <li>that would result in an excessive load being generated on our servers, network, or other resources;</li>
                                <li>in order to access anyone else's systems, networks or data without consent, regardless of whether or not that access or use has any adverse effect on the system, network, or data;</li>
                                <li>in a way that uses or distributes any software designed to harvest email addresses;</li>
                            </ol>
                        </li>	
                        <li>You must not submit any content or information to us that may contain any hidden images or code, any malicious code, data or set of instructions that intentionally or unintentionally causes harm or adversely affects the intended function of our Website including, viruses and other computer programming/software routines that may damage, modify, delete, interfere with, intercept or access any system, data or personal information without our permission.</li>
                        <li>You must not interfere or attempt to interfere with our Website using any software program, routine or other activity.</li>
                        <li>You must not attempt to gain unauthorised access to our Website, computer systems or networks or to any of our Services, through hacking, password mining or any other means.</li>
                        <li>You must not commercialise any content obtained from our Website without our written permission.</li>
                        <li>You must not copy, reproduce, modify, re-publish, upload to a third party, transmit, post or distribute the contents of our website, electronically or otherwise without our express permission. However, strictly on the condition that you keep all content intact and in the same form as presented on our website, you may, using an industry-standard web browser, download and view the content for personal, non-commercial use only.</li>
                    </ol>
                    <h5>Access to our Website</h5>
                    <ol type="1" start="15">
                        <li>We will try our best to ensure that you can access our Website, 24 hours a day, 7 days a week, except for upgrades and maintenance times. However, we cannot promise that access to our Website, or their functionality will be uninterrupted or error-free.</li>
                        <li>You acknowledge that you may experience interruptions and access difficulties from time to time and that given the nature of IT systems, our Website may be interfered with by numerous factors outside our control (including our reliance on third party systems and services such as internet service providers and cloud service providers). We will take reasonable steps to fix defects in our Website, within a reasonable time of you giving us details.</li>
                        <li>We will take reasonable commercial steps to maintain security in respect of our Website and any content and information which you submit to us ("<strong>content</strong>"). However, we do not guarantee the security of our Website or your content.</li>
                        <li>We will do our best to perform all scheduled maintenance at times which will affect the fewest number of users. Usually, we will post details of any scheduled maintenance to our website in advance.</li>
                    </ol>
                    <h5>Software license</h5>
                    <ol type="1" start="19">
                        <li>You acknowledge that we own or license all intellectual property rights anywhere in the world in:
                            <ol type="a">
                                <li>our Services and the technology used or supported by our Website; and</li>
                                <li>the content of our Website;</li>
                            </ol>
                        other than third party tools such as Google Maps and the like. That includes all intellectual property rights in our logos. You do not obtain any interest in that intellectual property.</li>
                        <li>Any third party tools, which are linked to or used in our Website, are licensed to you by the third parties that own them, not by us, and are subject to those third parties’ terms of use.</li>
                        <li>When you use our Website, the software in them is licensed and not sold. You are granted only a limited, revocable, non-exclusive, non-transferable licence to use our Website for the purpose of accessing and using our Services.</li>
                        <li>It is an essential condition of the licence and your use of our Website that you must not:
                            <ol type="a">
                                <li>disassemble, decompile, reverse engineer, or otherwise attempt to gain access to the source code of our Website or any third party tools;</li>
                                <li>copy any part of our Website or any third party tools or make commercial use of them;</li>
                                <li>rent, import, export, lease, loan, sell, publish, licence, sublicense, distribute or otherwise transfer any part of our Website or their underlying software to anyone else;</li>
                                <li>bypass any security measures in our Website or their underlying software; or</li>
                                <li>interfere with anyone else’s use of our Website and our Services.</li>
                            </ol>
                        </li>
                    </ol>
                    <h5>Changes to these T&amp;C</h5>
                    <ol type="1" start="23">
                        <li>We may change these T&amp;C at any time, however we will tell you if we do. Using our Website and our Services after any changes, means you agree to the new T&amp;C.</li>
                        <li>If you do not agree to the new T&amp;C, then you should stop using our Website and our Services and close your account with us. You can do this at any time. </li>
                    </ol>
                    <h5>Submitting content</h5>
                    <ol type="1" start="25">
                        <li>Our Website contain messaging and communication facilities that are designed to let you communicate with us and other users of our Website and Services.</li>
                        <li>All content that you submit, post or communicate on or via our Website, is the responsibility of the person who submits, posts or communicates it. We are not responsible for it. We do not guarantee that any content which is submitted is complete, truthful, accurate or reliable.</li>
                        <li>We reserve the right not to use or post any content that you submit. We also reserve the right to change or remove any content at any time.</li>
                        <li>When you submit content to us, you retain your rights in relation to it, however you grant us a perpetual, worldwide, non-exclusive royalty-free licence to use publish, reproduce, copy, adapt and modify that content.</li>
                    </ol>
                    <h5>Third party content and links</h5>
                    <ol type="1" start="29">
                        <li>Our Website may include third party content which is owned and/or subject to that third party’s terms and conditions of use. Please note that you are not granted any licence or right to use that third party content.</li>
                        <li>Our Website may also include links to third party sites. These links have been provided only as a convenience to you.</li>
                        <li>We do not control the content of any linked sites, any changes or updates to those linked sites or the terms of use of those linked sites. Your use of those linked sites is solely your responsibility. </li>
                    </ol>
                    <h5>Limitation of liability</h5>
                    <ol type="1" start="32">
                        <li>Because our Services are intended to be a community service for pet owners and pet lovers, we don’t believe that we are providing our Services in trade or commerce and therefore we don’t believe that the consumer guarantees and other non-excludable rights set out in the <em>Australian Consumer Law</em> ("<strong>ACL</strong>") apply to our Services. However, if they do apply, then subject to those consumer guarantees and non-excludable rights, to the extent permitted by law: 
                            <ol type="a">
                                <li>all representations, warranties and conditions of any kind, implied by statute, general law or custom relating to our goods/services are excluded; and</li>
                                <li>you acknowledge and agree that our Website and our Services are provided on an "as is" and "as available" basis and that you use them at your risk.</li>
                            </ol>
                        </li>
                        <li>To the extent permitted by law, (including the provisions of the ACL in relation to "<em>major failures</em>"), our liability for breach of any consumer guarantees and non-excludable rights which apply to us, is limited at our option to supplying our Services again, or by paying the cost of supplying our Services again.</li>
                        <li>To the extent permitted by law we will NOT be liable to you or to any third party for any failure, suspension and/or inability to use our Website and our Services in connection with anything that is beyond our reasonable control.</li>
                    </ol>
                    <h5>Jurisdiction</h5>
                    <ol type="1" start="35">
                        <li>These T&amp;C are governed by the laws in force in NSW, Australia.</li>
                    </ol>
                </section>
            </div>
        </div>
    </div>	
</main>