<div *ngFor="let selectable of selectables; let i = index" class="form-check form-check-inline">
    <label class="form-check-label" for="{{selectable + index.toString()}}">{{selectable}}
        <input class="form-check-input" type="radio" name="{{index.toString()}}" id="{{selectable + index.toString()}}" value="{{selectable}}" (click)="onSelected(i)">
        <span class="form-checkmark"></span>
    </label>
</div>