<main class="contact">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-12">
                <section class="page-content copy-center">
                    <h1>Contact Us</h1>
                    <p>If you have any questions, concerns or feedback we’d love to hear from you. Simply complete the form below and one of our team will get back to you shortly.</p>
                </section>
                <form class="contact-form">
                    <div class="row">
                        <div class="form-group col-12 col-sm-6">
                            <app-freetext (keyUp)="setFirstName($event)" #firstName [placeholder]="'Enter first name (required)'"></app-freetext>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <app-freetext (keyUp)="setLastName($event)" #lastName [placeholder]="'Enter last name'"></app-freetext>
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <app-email (keyUp)="setEmail($event)" #email [placeholder]="'Enter email (required)'"></app-email>
                        </div>
                        <div class="form-group form-group-dropdown col-12 col-sm-6">
                            <app-dropdown #reason (selectedString)="setReason($event)"
                                [disabledOption]="'Reason for contact (required)'"
                                [selectables]="[['General Enquiry','Report Abuse', 'Feedback', 'Technical Support']]"
                                [type]="0"
                            ></app-dropdown>
                        </div>
                        <div class="form-group col-12">
                            <app-textarea (keyUp)="setMessage($event)" #message [rows]="3" [placeholder]="'Enter your message here (required)'"></app-textarea>
                        </div>
                    </div>
                    <app-btn *ngIf="isValid$" #submitBtn [classes]="'btn btn-primary btn-lg btn-single btn-submit'" [placeholder]="'Send Message'" (click)='submit()'></app-btn>
                    <app-btn *ngIf="!isValid$" [classes]="'btn btn-primary btn-lg btn-single btn-submit disabled'" [placeholder]="'Send Message'" (click)='displayInvalidMessage()'></app-btn>
                    <app-snack-bar #snackBar></app-snack-bar>
                </form>
            </div>
        </div>
    </div>	
</main>