<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!-- NAME: 1 COLUMN -->
<!--[if gte mso 15]>
        <xml>
            <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>You have been invited to join Singr</title>
<style type="text/css">
p {
    margin: 10px 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
    padding: 0;
}
img, a img {
    border: 0;
    height: auto;
    outline: none;
    text-decoration: none;
}
body, #bodyTable, #bodyCell {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.mcnPreviewText {
    display: none !important;
}
#outlook a {
    padding: 0;
}
img {
    -ms-interpolation-mode: bicubic;
}
table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}
.ReadMsgBody {
    width: 100%;
}
.ExternalClass {
    width: 100%;
}
p, a, li, td, blockquote {
    mso-line-height-rule: exactly;
}
a[href^=tel], a[href^=sms] {
    color: inherit;
    cursor: default;
    text-decoration: none;
}
p, a, li, td, body, table, blockquote {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass td, .ExternalClass div, .ExternalClass span, .ExternalClass font {
    line-height: 100%;
}
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
#bodyCell {
    padding: 10px;
}
.templateContainer {
    max-width: 600px !important;
}
a.mcnButton {
    display: block;
}
.mcnImage, .mcnRetinaImage {
    vertical-align: bottom;
}
.mcnTextContent {
    word-break: break-word;
}
.mcnTextContent img {
    height: auto !important;
}
.mcnDividerBlock {
    table-layout: fixed !important;
}
body, #bodyTable {
    background-color: #f5f5f5;
}
#bodyCell {
    border-top: 0;
}
.templateContainer {
    border: 0;
}
h1 {
    color: #f04e4c;
    font-family: Helvetica;
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: normal;
    text-align: center;
}
h2 {
    color: #f04e4c;
    font-family: Helvetica;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: normal;
    text-align: center;
}
h3 {
    color: #f04e4c;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: normal;
    text-align: center;
}
h4 {
    color: #f04e4c;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: normal;
    text-align: center;
}
#templatePreheader {
    background-color: #f5f5f5;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
#templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
    color: #4b4b4b;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}
#templatePreheader .mcnTextContent a, #templatePreheader .mcnTextContent p a {
    color: #f04e4c;
    font-weight: normal;
    text-decoration: underline;
}
#templateHeader {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 2px solid #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px;
}
#templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
    color: #4b4b4b;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}
#templateHeader .mcnTextContent a, #templateHeader .mcnTextContent p a {
    color: #f04e4c;
    font-weight: normal;
    text-decoration: underline;
}
#templateBody {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}
#templateBody .mcnTextContent, #templateBody .mcnTextContent p {
    color: #4b4b4b;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
}
#templateBody .mcnTextContent a, #templateBody .mcnTextContent p a {
    color: #f04e4c;
    font-weight: normal;
    text-decoration: underline;
}
#templateFooter {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 2px solid #eaeaea;
    border-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
#templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
    color: #4b4b4b;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}
#templateFooter .mcnTextContent a, #templateFooter .mcnTextContent p a {
    color: #f04e4c;
    font-weight: normal;
    text-decoration: underline;
}
 @@media only screen and (min-width:768px) {
 .templateContainer {
 width:600px !important;
}
}
 @@media only screen and (max-width: 480px) {
 body, table, td, p, a, li, blockquote {
 -webkit-text-size-adjust:none !important;
}
}
 @@media only screen and (max-width: 480px) {
 body {
 width:100% !important;
 min-width:100% !important;
}
}
 @@media only screen and (max-width: 480px) {
 #bodyCell {
 padding-top:10px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnRetinaImage {
 max-width:100% !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnImage {
 width:100% !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnCartContainer, .mcnCaptionTopContent, .mcnRecContentContainer, .mcnCaptionBottomContent, .mcnTextContentContainer, .mcnBoxedTextContentContainer, .mcnImageGroupContentContainer, .mcnCaptionLeftTextContentContainer, .mcnCaptionRightTextContentContainer, .mcnCaptionLeftImageContentContainer, .mcnCaptionRightImageContentContainer, .mcnImageCardLeftTextContentContainer, .mcnImageCardRightTextContentContainer, .mcnImageCardLeftImageContentContainer, .mcnImageCardRightImageContentContainer {
 max-width:100% !important;
 width:100% !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnBoxedTextContentContainer {
 min-width:100% !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnImageGroupContent {
 padding:9px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnCaptionLeftContentOuter .mcnTextContent, .mcnCaptionRightContentOuter .mcnTextContent {
 padding-top:9px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnImageCardTopImageContent, .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent, .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
 padding-top:18px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnImageCardBottomImageContent {
 padding-bottom:9px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnImageGroupBlockInner {
 padding-top:0 !important;
 padding-bottom:0 !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnImageGroupBlockOuter {
 padding-top:9px !important;
 padding-bottom:9px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnTextContent, .mcnBoxedTextContentColumn {
 padding-right:18px !important;
 padding-left:18px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnImageCardLeftImageContent, .mcnImageCardRightImageContent {
 padding-right:18px !important;
 padding-bottom:0 !important;
 padding-left:18px !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcpreview-image-uploader {
 display:none !important;
 width:100% !important;
}
}
 @@media only screen and (max-width: 480px) {
 h1 {
 font-size:22px !important;
 line-height:125% !important;
}
}
 @@media only screen and (max-width: 480px) {
 h2 {
 font-size:20px !important;
 line-height:125% !important;
}
}
 @@media only screen and (max-width: 480px) {
 h3 {
 font-size:18px !important;
 line-height:125% !important;
}
}
 @@media only screen and (max-width: 480px) {
 h4 {
 font-size:16px !important;
 line-height:150% !important;
}
}
 @@media only screen and (max-width: 480px) {
 .mcnBoxedTextContentContainer .mcnTextContent, .mcnBoxedTextContentContainer .mcnTextContent p {
 font-size:14px !important;
 line-height:150% !important;
}
}
 @@media only screen and (max-width: 480px) {
 #templatePreheader {
 display:block !important;
}
}
 @@media only screen and (max-width: 480px) {
 #templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
 font-size:14px !important;
 line-height:150% !important;
}
}
 @@media only screen and (max-width: 480px) {
 #templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
 font-size:16px !important;
 line-height:150% !important;
}
}
 @@media only screen and (max-width: 480px) {
 #templateBody .mcnTextContent, #templateBody .mcnTextContent p {
 font-size:16px !important;
 line-height:150% !important;
}
}
 @@media only screen and (max-width: 480px) {
 #templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
 font-size:14px !important;
 line-height:150% !important;
}
}
</style>
</head>
<body style="height: 100%;margin: 0;padding: 0;width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #f5f5f5;">
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 0;width: 100%;background-color: #f5f5f5;">
        <tr>
            <td align="center" valign="top" id="bodyCell" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 10px;width: 100%;border-top: 0;"><!-- BEGIN TEMPLATE // --> 
                <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                        <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                        <![endif]-->
                
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 600px !important;">
                    <tr>
                        <td valign="top" id="templateHeader" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 2px solid #eaeaea;padding-top: 20px;padding-bottom: 20px;"><table class="mcnImageBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody class="mcnImageBlockOuter">
                                    <tr>
                                        <td style="padding: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnImageBlockInner" valign="top"><table class="mcnImageContentContainer" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                <tbody>
                                                    <tr>
                                                        <td class="mcnImageContent" style="padding-right: 0px;padding-left: 0px;padding-top: 0;padding-bottom: 0;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" valign="top"><a href="http://www.singr.pet/?utm_source=email&utm_medium=invitation-logo&utm_campaign=refer-a-friend" title="" class="" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"> <img alt="" src="https://gallery.mailchimp.com/a1309922e68151ba4ddfae429/images/ec401e9c-8c34-471a-bc16-1f14d96e1497.jpg" style="max-width: 200px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage" width="200" align="middle"> </a></td>
                                                    </tr>
                                                </tbody>
                                            </table></td>
                                    </tr>
                                </tbody>
                            </table></td>
                    </tr>
                    <tr>
                        <td valign="top" id="templateBody" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 20px;padding-bottom: 10px;"><table class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody class="mcnTextBlockOuter">
                                    <tr>
                                        <td class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" valign="top"><!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]--> 
                                            
                                            <!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                                            
                                            <table style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                <tbody>
                                                    <tr>
                                                        <td class="mcnTextContent" style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;" valign="top"><h1 style="display: block;margin: 0;padding: 0;color: #f04e4c;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: center;">You have been invited to join Singr</h1></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                            <!--[if mso]>
				</td>
				<![endif]--> 
                                            
                                            <!--[if mso]>
				</tr>
				</table>
				<![endif]--></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody class="mcnTextBlockOuter">
                                    <tr>
                                        <td class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" valign="top"><!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]--> 
                                            
                                            <!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                                            
                                            <table style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                <tbody>
                                                    <tr>
                                                        <td class="mcnTextContent" style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;" valign="top"><p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Hello,</p>
                                                            <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">@Model.FirstName @Model.LastName has invited you to join Singr, a world first pet-to-pet blood service.</p>
                                                            <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Veterinarians worldwide have limited access to sufficient quantities of blood for performing life-saving operations for our pets. Singr is a pet-to-pet blood service that allows pet owners to help each other and their pets in a time of need.</p>
                                                            <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">There is no obligation to donate and it's complete free.</p>
                                                            <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Visit <a href="http://www.singr.pet/?utm_source=email&utm_medium=invitation-link&utm_campaign=refer-a-friend" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #f04e4c;font-weight: normal;text-decoration: underline;">www.singr.pet</a> today to checkout this great community initiative.</p>
                                                            <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Yours Sincerely,</p>
                                                            <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"><strong>Singr</strong></p></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                            <!--[if mso]>
				</td>
				<![endif]--> 
                                            
                                            <!--[if mso]>
				</tr>
				</table>
				<![endif]--></td>
                                    </tr>
                                </tbody>
                            </table></td>
                    </tr>
                    <tr>
                        <td valign="top" id="templateFooter" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 2px solid #eaeaea;border-bottom: 0;padding-top: 0px;padding-bottom: 0px;"><table class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody class="mcnTextBlockOuter">
                                    <tr>
                                        <td class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" valign="top"><!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]--> 
                                            
                                            <!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                                            
                                            <table style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                <tbody>
                                                    <tr>
                                                        <td class="mcnTextContent" style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #4b4b4b;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: center;" valign="top"><p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #4b4b4b;font-family: Helvetica;font-size: 12px;line-height: 150%;text-align: center;"><em>Copyright © 2018 Singr, All rights reserved.</em></p></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                            <!--[if mso]>
				</td>
				<![endif]--> 
                                            
                                            <!--[if mso]>
				</tr>
				</table>
				<![endif]--></td>
                                    </tr>
                                </tbody>
                            </table></td>
                    </tr>
                </table>
                
                <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]--> 
                <!-- // END TEMPLATE --></td>
        </tr>
    </table>
</center>
</body>
</html>
