<div #modal class="modal fade" id="{{modalID}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="modalID+'Label'" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1>Join our mailing list</h1>
                <p>If you are short on time but want to be kept in the loop, leave us your email and we will keep you up-to-date regarding our impending launch so you can register later.</p>
                <app-email #email (keyUp)="validate($event)" [placeholder]="'email address'"></app-email>
                <div class="clear">
                    <app-btn *ngIf="isValid$" [classes]="'button btn btn-primary btn-lg btn-single'" [placeholder]="'Join Singr'" (click)='subscribe()'></app-btn>
                    <app-btn *ngIf="!isValid$" [classes]="'button btn btn-primary btn-lg btn-single disabled'" [placeholder]="'Join Singr'" (click)='displayInvalidMessage()'></app-btn>
                    <app-snack-bar #snackBar></app-snack-bar>
                </div>
            </div>
        </div>
    </div>
</div>