<main class="register-success">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-12">
                <section class="page-content copy-center">
                    <h1>Singr thanks you!</h1>
                    <p>Thank you for registering your pet with Singr – the worlds first pet to pet blood sharing service.</p>
                    <p>We will be in touch soon with more information.</p>
                </section>
                <section class="page-content copy-center">
                    <h4>Invite 3 of your friends to join this great initiative</h4>
                </section>
                <form class="refer-form mx-auto">
                    <div class="row">
                        <div class="form-group col-12">
                            <app-email #email1 (keyUp)="setEmail1($event)" [placeholder]="'Enter email'"></app-email>
                        </div>
                        <div class="form-group col-12">
                            <app-email #email2 (keyUp)="setEmail2($event)" [placeholder]="'Enter email'"></app-email>
                        </div>
                        <div class="form-group col-12">
                            <app-email #email3 (keyUp)="setEmail3($event)" [placeholder]="'Enter email'"></app-email>
                        </div>
                    </div>
                    <app-btn *ngIf="isValid$" [classes]="'btn btn-primary btn-lg btn-single btn-submit gtm-refer-submit'" [placeholder]="'Invite your friends'" (click)='referToFriends()'></app-btn>
                    <app-btn *ngIf="!isValid$" [classes]="'btn btn-primary btn-lg btn-single btn-submit gtm-refer-submit disabled'" [placeholder]="'Invite your friends'" (click)='displayInvalidMessage()'></app-btn>

                    <app-snack-bar #snackBar></app-snack-bar>
                </form>
                <section class="page-content copy-center share-widget">
                    <h4>Or share this page on social media</h4>
                </section>
            </div>
        </div>
    </div>	
</main>