<main class="about">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-12">
                <section class="page-content copy-left">
                    <h1>The Singr Story</h1>
                    <p>When 8 year old “Singer” was hit by a car on her farm, her family rushed her to the Vet for a check up. Although she had no broken bones it soon became apparent she was suffering from serious internal bleeding that couldn’t be stopped. With her oxygen levels falling, it became clear she needed an urgent blood transfusion. With no supplies available, her owner Jock had no choice but to put out an urgent late night call to family and friends hoping their pet could help.</p>
                    <img class="inline-img d-md-none" src="assets/images/SIngr_1_800x1200_mobile.jpg" alt="Image of Singer" />
                    <p>Jock never guessed what would happen next. Within five minutes, Singer had received four offers of blood. Many more flowed in over the next few hours. The donor, Marlowe, an 18 month old Mastiff stayed in all night to help Singer through. The next day, another donor George the Golden Retriever stepped up.</p>
                    <p>Their generosity and spirit saved Singer’s life and she returned to the farm and the family’s three children just five days later.</p>
                    <p>Singr is a community platform for caring, like minded, responsible dog and cat owners. It will be free to register and is a world first. We hope to be the service you never need but an added insurance policy should that day arrive. Your pet will be under no obligation to donate should you be contacted.</p>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="row">
                                <div class="col-12">
                                    <img src="assets/images/Singr_2_450x300.jpg" alt="Image of Singer recovering" />
                                </div>
                                <div class="col-12">
                                    <img src="assets/images/Singr_3_450x300.jpg" alt="Image of Singer and Jock with a sunset background" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <img src="assets/images/Singr_4_450x616.jpg" alt="Image of Singer and family sitting on a tree" />
                        </div>
                    </div>
                </section>
                <section class="page-content copy-center">
                    <h1>How it works</h1>
                    <div class="row">
                        <div class="col-12">
                            <div class="how-it-works-mb">
                                <h3>Register</h3>
                                <p>Register your pet with Singr. It’s quick, easy and all pets, big or small are welcome.</p>
                                <i class="fas fa-arrow-down"></i>
                                <h3>Share</h3>
                                <p>Share with other pet owners. Communities thrive on involvement.</p>
                                <i class="fas fa-arrow-down"></i>
                                <h3>Alert</h3>
                                <p>If your pet needs blood, login to Singr and trigger alerts to community members near you.</p>
                                <i class="fas fa-arrow-down"></i>
                                <h3>Communicate</h3>
                                <p>Message each other via the Singr platform to share details and Vet location.</p>
                                <i class="fas fa-arrow-down"></i>
                                <h3>Respond</h3>
                                <p>Pet owners receive the alerts via SMS, Email and in-app notification.</p>
                                <i class="fas fa-arrow-down"></i>
                                <h3>Donate</h3>
                                <p>Donor pet goes to Vet surgery to save their fury friend. Transfusion occurs.</p>
                                <h1>No obligation to donate - completely free</h1>
                            </div>
                            <div class="how-it-works-tb">
                                <img src="assets/images/HowItWorks_Graphic_1200x1200.png" alt="How it works graphic - Register, Share, Alert, Communicate, Respond, Donate. No obligation to donate - Completely free." />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="bg-img"></div>
</main>