<main class="home">
    <div class="container-fluid page-width">
        <div class="row">
            <div class="col-12">
                <section class="page-content copy-center">
                    <h1>Pet-to-pet Blood Service</h1>
                    <h2>Coming soon - Register now!</h2>
                    <p>Veterinarians worldwide have limited access to sufficient quantities of blood for performing life-saving operations for our pets. Singr is a pet-to-pet blood service that allows pet owners to help each other and their pets in a time of need.</p>
                    <h4 class="d-md-none"><span>Completely free - </span><span>no obligation to donate</span></h4>
                </section>
            </div>
            <div class="col-12 col-sm-4">
                <section class="feature-cta">
                    <a [routerLink]='["/register"]'><div class="circle fs-plus"></div></a>
                    <div class="copy-wrapper">
                        <h3>Register your pet</h3>
                        <a class="btn btn-primary btn-lg" [routerLink]='["/register"]' role="button">Register</a>
                    </div>
                </section>
            </div>
            <div class="col-12 col-sm-4">
                <section class="feature-cta">
                    <a data-toggle="modal" data-target="#SubscribeModal"><div class="circle fs-join"></div></a>
                    <div class="copy-wrapper">
                        <h3>Stay up-to-date</h3>
                        <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#SubscribeModal">Sign Up</a>
                    </div>
                </section>
            </div>
            <app-subscribe-modal [modalID]="'SubscribeModal'"></app-subscribe-modal> 
            <div class="col-12 col-sm-4">
                <section class="feature-cta">
                    <a [routerLink]='["/about"]'><div class="circle fs-dog"></div></a>
                    <div class="copy-wrapper">
                        <h3>The Singr Story</h3>
                        <a class="btn btn-primary btn-lg" [routerLink]='["/about"]' role="button">Read More</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="stamp"></div>
    <div class="bg-img"></div>
</main>