<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="copyright col-12 col-lg-6 d-none d-lg-block">
        <span>© Copyright 2018 Singr. </span><span>All Rights Reserved</span>
      </div>
      <div class="navbar-nav col-12 col-lg-6">
        <a class="nav-item nav-link" [routerLink]='["/privacy"]'>Privacy Policy</a><a class="nav-item nav-link" [routerLink]='["/terms"]'>Terms &amp; Conditions</a><a class="nav-item nav-link" [routerLink]='["/contact"]'>Contact Us</a>
      </div>
      <div class="copyright col-12 d-lg-none">
        <span>© Copyright 2018 Singr. </span><span>All Rights Reserved</span>
      </div>
    </div>
  </div>	
</footer>