<select #self class="form-control" (change)="onSelected($event.target.value)">
    <option disabled selected>{{disabledOption}}</option>
    <option *ngFor="let selectable of (currentSelectables$ | async)">{{ selectable }}</option>
</select>